.profile-picture {
    border-radius: 50%;
}

.profile-albums-list {
    max-width: 360px;
    overflow: auto;
    max-height: 500px;
}

.album-picture {
    border-radius: 50%;
    width: 65px;
    hight: 65px;
}