.scrollable-list {
    max-width: 900px;
    overflow: auto;
    max-height: calc(100vh - 200px);
}

.image-text-picture {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.center-modal {
    width: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: white;
    transform: translate(-50%, -50%);
}